html,body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #eeeeee url('../images/bg.png');
    color: #4d4d4d;
    margin-left: 15%;
    margin-right: 15%;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}



#todoapp {

    background-color: #ebebeb;

    margin: 50px 0 40px 0;
    border: 1px solid #ccc;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#todoapp:before {
    content: '';
    width: 2px;
    position: absolute;
    top: 45px;
    top: 0px;
    left: 10px;
    height: 100%;
}

#todoapp input::-webkit-input-placeholder {
    font-style: italic;
}

#todoapp input:-moz-placeholder {
    font-style: italic;
    color: #a9a9a9;
}

#todoapp  h1 {
    color:#77216F;


    width: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.section {
    position: relative;
}

#header {
    padding-top: 0px;
    border-radius: inherit;
}

#header:before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0px;
    z-index: 2;
    border-bottom: 1px solid #6c615c;
    background: #77216F;

    background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

#new-todo,
.edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#new-todo {
    padding: 16px 16px 60px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.02);
    z-index: 2;
    box-shadow: none;
}

#main {
    position: relative;
    z-index: 2;
    border-top: 1px dotted #adadad;
}

label[for='toggle-all'] {
    display: none;
}

#toggle-all {
    position: absolute;
    top: -56px;
    left: -15px;
    width: 65px;
    height: 41px;
    text-align: center;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#toggle-all:before {
    content: '»';
    font-size: 28px;
    color: #d9d9d9;
    padding: 0 25px 7px;
}

#toggle-all:checked:before {
    color: #737373;
}

#todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#todo-list .spinner {
    margin: 15px auto;
}

#todo-list li {
    text-align: left;
    position: relative;
    font-size: 17px;
    border-bottom: 1px dotted #ccc;
}

#todo-list li:last-child {
    border-bottom: none;
}

#todo-list li.editing {
    border-bottom: none;
    padding: 0;
}

#todo-list li.editing .edit {
    display: block;
    width: 506px;
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 43px;
}

#todo-list li.editing .view {
    display: none;
}

#todo-list li .toggle {
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#todo-list li .toggle:after {
    font-size: 18px;
    content: '✔';
    line-height: 43px; /* 40 + a couple of pixels visual adjustment */
    font-size: 20px;
    color: #d9d9d9;
    text-shadow: 0 -1px 0 #bfbfbf;
}

#todo-list li .toggle:checked:after {
    color: #85ada7;
    text-shadow: 0 1px 0 #669991;
    bottom: 1px;
    position: relative;
}

#todo-list li label {
    word-break: normal;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    line-height: 1.2;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

#todo-list li.completed label {
    color: #a9a9a9;
    text-decoration: line-through;
}

#todo-list li .todo-destroy {
    display:flex;
    top: 0;
    right: 10px;
    bottom: 0;

    margin: auto 0;
    font-size: 22px;
    color: #a88a8a;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#todo-list li .todo-destroy:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

#todo-list li .todo-destroy:after {

}

#todo-list li:hover .todo-destroy {
    display: block;
}

#todo-list li .edit {
    display: none;
}

#todo-list li.editing:last-child {
    margin-bottom: -1px;
}

#footer {
    color: #777;
    padding: 0 15px;
    position: absolute;
    right: 0;
    bottom: -31px;
    left: 0;
    z-index: 1;
    text-align: center;
}

#footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 31px;
    left: 0;
    height: 100px;
    z-index: -1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    0 6px 0 -3px rgba(255, 255, 255, 0.8),
    0 7px 1px -3px rgba(0, 0, 0, 0.3),
    0 42px 0 -6px rgba(255, 255, 255, 0.8),
    0 43px 2px -6px rgba(0, 0, 0, 0.2);
}

#todo-count {
    float: left;
    text-align: left;
}

#filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

#filters li {
    display: inline;
}

#filters li a {
    color: #83756f;
    margin: 2px;
    text-decoration: none;
}

#filters li a.selected {
    font-weight: bold;
}

#clear-completed {
    float: right;
    line-height: 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    font-size: 11px;
    padding: 0 10px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#clear-completed:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

#info {
    margin: 65px auto 0;
    color: #a6a6a6;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    text-align: center;
}

#info a {
    color: inherit;
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox and Opera
  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #toggle-all,
    #todo-list li .toggle {
	background: none;
    }
}

#todoapp .content .login {
    width: 350px;
    margin: 45px auto 25px auto;
}

#todoapp .content .login h2 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

#todoapp .content .login input {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
    width: 340px;;
}

#todoapp .content .login .signup-form {
    margin-top: 25px;
}

#todoapp .content .login button {
    padding: 5px 10px;
    background: #eee;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: "Helvetica Neue";
}

#todoapp .content .login .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 5px 15px;
    margin-bottom: 15px;
}

#log-out {

    color: gray;
}
#todoapp .content #user-info {
    padding: 12px 10px;
    border-top: 1px solid #ededed;
    margin-bottom: 0px;
    text-align: right;
}


#todoapp .content .mark-all-done {
    margin-left: 8px;
}

#credits {
    color: #888;
    text-align: center;
    padding-top: 25px;
}

#credits a {
    color: #888;
}

.sol-padding{
    font-weight: 700;
    color: #77216F;
    width: 100%;
    float: left;
}

.baslik-input{
    margin-left: 50px;
    border:none;
    font-size: 30px;
    padding: 10px;
    width: 94.5%;
}

#ekle-buton{
    position: absolute;
    right: 1px;
    top: 1px;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    background-color: #77216F;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.tarih{
    position: absolute;
    right: 0;
}

.tarih strong{
    color: #77216F;
    font-size: 25px;
}

.navbar-right {


    padding-right: 10px;
}

#user {
    padding-top: 15px;
}

.altcizgi{
    border-bottom:1px solid #000;
}

.ilksayi{
    position:absolute;
    top:0px;
    font-size:40px;
    color:#77216F;
    font-weight:bold
}
.ilkSayiModal {
    position: absolute;
    top: -7px;
    font-size: 40px;
    color:#77216F;
    font-weight:bold;

}
.sayi{
    margin-left:95px;
    position:absolute;
    top:-24px;
    color:#77216F;
    font-weight:bold
}
#saat{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}
.saat{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}
.bolumm{
    margin-left:35px;
}

.fa-star{
    float: right;
    padding-right: 10px;
    padding-top: 6px;
    color: #ccd6dd;

}
.fa-star:hover {

    color: #77216F;
    cursor: pointer ;
    
}
#unStar {

    color: #77216F;
    
}
.fa-pencil-square-o{
    float: right;
    padding-right: 5px;
    padding-top: 6px;
    color: #ccd6dd;
}

.fa-pencil-square-o:hover {

    color:#77216F;
}
.fa-times {
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    color: #ccd6dd;

}
.btnKapat {

    float: right;

}
.fa-times:hover {

    color: #77216F;
    cursor: pointer ;

}
.star{
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    color:#77216F;

}


#btnYeniEkle {

    float: right;
    /* margin-top: -100px; */
    position: fixed;
    bottom: 90px;
    left: 82%;
    z-index:5;
}

#myModal {

    z-index:6;

}

#deneme {

    z-index:6;

}
.container {

    max-width: 100%
}


.denemeee {

    margin-bottom: 11px;
}

#disKabuk {

    margin-left: 5px;
    margin-right: 5px;
}

#sifremiUnutum {

    color:#77216F;
}

@media screen and (max-width: 360px) and  (max-height: 640px){

}

#reset-email {

    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    /* display: block; */
    width: 340px;

}

#emailtext {

    margin-left: 20px;


}
#resetemail{
    align-content: center;
    text-align: center;
    width: 350px;
}

#btnResetPass {

    padding: 5px 10px;
    background: #eee;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: "Helvetica Neue";

}

#resetBaslik {

    text-align: left;
}
